<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    
    <title>Formulario de Actualización Apartamento</title>

    <link rel="stylesheet" href="CSS/Estilos.css" />
        
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />

    <link rel="icon" href="mandarina-icon.ico" />
</head>
<body>
    <header class="Encabezado">
    
        <img alt="Logo Mandarino" src="mandarino color ai.png" style="width: 223px; height: 54px; margin-left: 10px;" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Formulario de Actualización de Apartamento
        <a href="Index.html"><input id="BotonCerrarSesion" type="button" value="Cerrar Sesión" class="boton" /></a>&nbsp;&nbsp;
         <br />
         <br />
         <br />
         <br />
     </header>

    <div class="Cuerpo">
        <br />
        <a href="javascript:history.go(-1)"><img src="icono_atras.png" width ="30" height="30" border="0" /></a> Volver
        <br />
        <br />
        <div class="Form_AgregarUs">
            <form style="height: 930px">
            <br />
            <br />
            <br />
            <br />
            Seleccione el numero de apartamento
            <br />
            <br />
            <br />
            <br />
            <select id="Select_Apartamento" class="Inputs_AgregarUs" required="required" disabled="disabled">
                <option>101</option>
                <option>102</option>
                <option>201</option>
                <option>202</option>
                <option>301</option>
                <option>302</option>
                <option>401</option>
                <option>402</option>
                <option>501</option>
                <option>502</option>
            </select>
            <br />
            <br />
            <br />
            <br />
            Digite el numero de torre
            <br />
            <br />
            <br />
            <br />
            <input id="Text_Torre" type="number" min="1" max="6" placeholder="Torre" class="Inputs_AgregarUs" required="required" disabled="disabled" />
            <br />
            <br />
            <br />
            <br />
            Digite el piso
            <br />
            <br />
            <br />
            <br />
            <input id="Text_Piso" type="number" min="1" max="5" placeholder="Piso" class="Inputs_AgregarUs" required="required" disabled="disabled"/>
            <br />
            <br />     
            <br />
            <br />     
             Seleccione el nombre del propietario
            <br />
            <br />
            <br />
            <br />
            <select id="Select_Usuario_Apartamento" class="Inputs_AgregarUs" required="required">
                <option></option>
                <option>Traido BD</option>
                <option></option>
            </select>  
            <br />
            <br />
            <br />
            <br />
            <br />
            <input id="Submit_Usuario" type="submit" value="Guardar datos" class="btn-guardar-datos"/>
            <input id="Reset_Usuario" type="reset" value="Borrar datos" class="btn-guardar-datos" />
            </form>
          </div>

        <br /><br /><br />

        <script src="Comportamientos1.js"></script>
     </div>

    <footer class="Pie">
            
            <img alt="Logo-Mand-Footer" src="Mandarino blanco .png" style="width: 158px; height: 40px; margin-left: 620px;" />
            <br />
            <p>&nbsp;&nbsp; Conjunto Residencial Mandarino&nbsp;&nbsp;&nbsp; Dirección: Calle 75 #99b-09&nbsp;&nbsp;&nbsp; Celular: +57 3214253852&nbsp;&nbsp;&nbsp; Correo electronico: <a href="mailto:crmandarino@gmail.com">crmandarino@gmail.com</a>  </p>
            <br />
            <p>&nbsp;&nbsp; Contacto desarrollador web: Luis Nicolás Pinilla Rodríguez&nbsp;&nbsp;-&nbsp;&nbsp;David Santiago Castillo M&nbsp;&nbsp;&nbsp; Celular: +57 3004001860&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Correo electronico: <a href="mailto:luisnicolaspr@gmail.com">luisnicolaspr@gmail.com</a> </p>

        </footer>
</body>
</html>
