<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>Formulario de inhabilitación de Novedad</title>

    <link rel="stylesheet" href="CSS/Estilos.css" />
        
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />

    <link rel="icon" href="mandarina-icon.ico" />

</head>
<body>

    <header class="Encabezado">
    
        <img alt="Logo Mandarino" src="mandarino color ai.png" style="width: 223px; height: 54px; margin-left: 10px;" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Formulario de inhabilitación de Novedad
        <a href="Index.html"><input id="BotonCerrarSesion" type="button" value="Cerrar Sesión" class="boton" /></a>&nbsp;&nbsp;
         <br />
         <br />
         <br />
         <br />
     </header>

    <div class="Cuerpo">
        <br />
        <a href="javascript:history.go(-1)"><img src="icono_atras.png" width ="30" height="30" border="0" /></a> Volver
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="Form_Eliminar">

            <form>
                <br />
                <img alt="Imagen_Eliminar" src="Imagen_Eliminar.png" border="0" style="width: 165px; height: 132px;"/>
                <br />
                <br />
                <br />
                Usted va a inhabilitar la siguiente Novedad:
                <br />
                <br />
                <br />
                Tipo de Novedad: <input id="Tipo_Novedad_Eliminacion" type="text" class="Inputs_Eliminar"  disabled="disabled"/>
                <br />
                <br />
                Fecha de la Novedad: <input id="Fecha_Novedad_Eliminacion" type="text" class="Inputs_Eliminar"  disabled="disabled"/>
                <br />
                <br />
                Descripcion de la novedad: <textarea id="Descripcion_Novedad_Eliminacion" cols="50" rows="20" class="Inputs_Eliminar" disabled="disabled"></textarea>
                <br />
                <br />
                <br />
                
                <input id="btn-Eliminar" type="button" value="Inhabilitar Novedad" class="btn-eliminar"/>

            </form>


        </div>

        <br /><br /><br />

        <script src="Comportamientos1.js"></script>
    </div>

    <footer class="Pie">
            
            <img alt="Logo-Mand-Footer" src="Mandarino blanco .png" style="width: 158px; height: 40px; margin-left: 620px;" />
            <br />
            <p>&nbsp;&nbsp; Conjunto Residencial Mandarino&nbsp;&nbsp;&nbsp; Dirección: Calle 75 #99b-09&nbsp;&nbsp;&nbsp; Celular: +57 3214253852&nbsp;&nbsp;&nbsp; Correo electronico: <a href="mailto:crmandarino@gmail.com">crmandarino@gmail.com</a>  </p>
            <br />
            <p>&nbsp;&nbsp; Contacto desarrollador web: Luis Nicolás Pinilla Rodríguez&nbsp;&nbsp;-&nbsp;&nbsp;David Santiago Castillo M&nbsp;&nbsp;&nbsp; Celular: +57 3004001860&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Correo electronico: <a href="mailto:luisnicolaspr@gmail.com">luisnicolaspr@gmail.com</a> </p>

        </footer>

</body>
</html>
